p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    /* border: solid; */
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
    /* margin-top: 4%; */
    grid-area: main;
    max-width: 100%;
    width: 700px; 
}

header {
    position: sticky;
}

footer {
    background-color: darkgrey;
}

aside {
    display: none;
    padding-left: minmax(0em, 12em);
    grid-area: sidebar;
}

.has-dropcap::first-letter {
    float: left;
    font-size: 4rem;
    line-height: 0.65;
    margin: 0em 0.1em 0.1em 0;
}

.top-header {
    /* border-bottom: solid #002147; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 1em;
}

.main-container {
    /* display: grid; */
    grid-template-columns:3fr 4fr 3fr;
    align-content: start;
    /* grid-template-areas: 
    "sidebar main sidebar"; */
    padding-left: 4em;
    padding-right: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-nav {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    padding: 0;
    list-style: none;
    font: 1.2em 'Trebuchet MS';
    border-top:  solid;
    border-bottom: solid;
    display: flex;
    background-color: #98A1BC;
}
  
.main-nav a {
    padding: 0.5em 1em;
    display: block;
    color: black;
}
  
.push {
    margin-left: auto;
}

.article-title {
    padding-top: 12pt;
    font-size: 2rem;
}

a {
    color: black;
}

a:visited {
    color:black
}   

a:hover {
    text-decoration: none;
    color: #0557d0;
}

a:active {
    background:cornflowerblue;
    color: #3417a6;
}

a > h2 {
    color: black;
}

a.main-nav {
    text-decoration: none !important;
}

section {
    max-width: 100%;
    width: 700px;
}

.section-index {
    background-color: rgb(193, 204, 222, 0.75);
    border-radius: 10px;
}

.section-index li {
    line-height: 1.5;
}

.report-link {
    margin-bottom: 5%;
    padding: 1em 1em 1em 1em;
}

.main-page-list {
    font-size: larger;
}

.top-header a {
    text-decoration: none;
}
